// Colores
$gris-claro: #f5f5f5;
$gris-oscuro: #585758;
$blanco: #fff;
$dark: #212529;

// Tipografía
$fuente-principal: 'Roboto', sans-serif;

// Espaciados
$espaciado-sm: 10px;
$espaciado-md: 20px;
$espaciado-lg: 30px;

// Otros
$radio-borde: 8px;

